.card-wrapper {
	perspective: 1000px;
}

.card {
	width: 250px;
	height: 350px;
	background: var(--bg);
	border-radius: 20px;
	box-shadow:
		10px 10px 20px var(--shadow-dark),
		-10px -10px 20px var(--shadow-light);
	transition:
		box-shadow 0.2s ease-in-out,
		transform 0.1s ease-out;
	transform-style: preserve-3d;
	will-change: transform;
	padding: 0.1rem 1.5rem 0.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.card img {
	max-height: 200px;
	object-fit: cover;
	margin: 1rem 0;
	border-radius: 50px;
	display: block;
}

.card:hover {
	box-shadow:
		inset 5px 5px 10px var(--shadow-dark),
		inset -5px -5px 10px var(--shadow-light);
	transform: none;
}

.card:active {
	box-shadow:
		inset 3px 3px 6px var(--shadow-dark),
		inset -3px -3px 6px var(--shadow-light);
	transform: scale(0.98);
}

.card-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}
